{% extends "base.html" %}
{% block link %}
    {% if request.user.is_authenticated and user_obj == request.user %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:change' user_obj.pk %}">Редактировать</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:password_change' %}">Смена пароля</a>
        </li>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="profile-header">
        <img class="profile-avatar img-fluid" src="{{ user_obj.avatar.url }}" alt="User Avatar">
        <div class="profile-username">{{ user_obj.username }}</div>
        <div class="profile-bio">{{ user_obj.description }}</div>
        <div class="profile-stats">
            <div class="profile-stat-item">
                <span class="profile-stat-value">0</span> posts
            </div>
            <div class="profile-stat-item">
                <span class="profile-stat-value">0</span> followers
            </div>
            <div class="profile-stat-item">
                <span class="profile-stat-value">0</span> following
            </div>
        </div>
    </div>
    <div class="profile-posts mt-5">
        <div class="row">
            {% for post in user_obj.posts.all %}
                <div class="col-md-4 mb-4">
                    <a href="{% url "webapp:post_view" post.pk %}">
                        <img class="post-thumbnail img-fluid" src="{{ post.image.url }}"
                             alt="{{ post.image.filename }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}